body, .modal-body, .modal-footer {
    background-color: #2C4A6A;
    color: #FFF;
}

nav {
    border: none;
    height: 80px;
}

nav, .modal-header {
    background-color: #23303E !important;
    color: #FFF;
}

.modal-header .close {
    color: #FFF;
}

.modal-buttons {
    text-align: right;
}

nav .logo {
    float: left;
    width: 45px;
    margin: 15px 0px;
}

#controls {
    float: right;
}

#controls .info {
    display: inline-block;
    width: 100px;
    text-align: center;
    vertical-align: middle;
}
#controls .info label {
    font-size: 1.2em;
    margin: 0px;
}

#status {
    margin-right: 5px;
}

#clear button {
    padding: 3px 5px;
    margin-top: 5px;
    font-size: 0.9em;
}

#start-stop {
    display: inline-block;
    vertical-align: middle;
}

#start-stop button {
    margin: 15px 0px;
    height: 50px;
}

.main {
    margin-top: 100px;
}

table {
    width: 100%;
}

table tr {
    background-color: transparent;
    color: #FFF;
}

table thead, table tfoot {
    background-color: #23303E;
}

.table-striped > tbody > tr:nth-of-type(even) {
    background-color: #23303E;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: transparent;
}
